/*
=====================================================================

*   Sparrow v1.0.1 Layout Stylesheet
*   url: styleshout.com
*   03-05-2014

=====================================================================

   TOC:
   a. Common Styles.
   b. Header Styles.
   c. Intro Section - Main Page.
   d. Info Section - Main Page.
   e. Works Section - Main Page.
   f. Journal Section - Main Page.
   g. Call-To-Action Section - Main Page.
   h. Tweets Section - Main Page.
   i. Blog.
   j. Porfolio.
   k. About.
   l. Contact.
   m. Footer.

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. Common Styles
/* ------------------------------------------------------------------ */

body { background: #D2D8D8 url(../images/bg.jpg); }
img { border-radius: 3px; }
.content-outer { background: #fff }

/* page title */
#page-title {
   background: #383232 url(../images/header-bg.jpg);
   padding-top: 42px;
   padding-bottom: 54px;
}
#page-title h1 {
   font: 50px/60px raleway-bold, sans-serif;
   color: #fff;
   padding: 0;
   margin: 0 0 18px 0;
   text-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
}
#page-title h1 span,
#page-title a { color: #11ABB0; }
#page-title p {
   font: 17px/36px notosans-regular, sans-serif;
   padding: 0;
   margin: 12px 5% 0;
   color: #b4a9a9;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}

/* page content */
#page-content {
   padding-top: 54px;
   padding-bottom: 54px;
   margin: 0 auto;
   width: 91.66667%;
}
/* page */
.page section {
   padding-top: 24px;
   padding-bottom: 12px;
}
.page h1, .title-heading {
   font: 39px/48px raleway-semibold, sans-serif;
   margin-bottom: 18px;
}

/* sidebar */
#sidebar {
   padding-top: 42px;
   padding-left: 18px;
}
#sidebar h5 {
   font: 18px/30px notosans-bold, sans-serif;
   font-weight: normal;
   margin-bottom: 6px;
}
#sidebar .widget { margin-bottom: 24px; }

/* Link list */
#sidebar .link-list {
   margin: 12px 0 18px 0;
   padding: 0;
}
#sidebar .link-list li {
   line-height: 24px;
}
#sidebar .link-list li a {
   border: none;
   color: #838C95;
}
#sidebar .link-list li a:hover {
   color: #313131;
}
#sidebar .link-list li i{
   color:rgb(26, 224, 231);
   font-size: 9px;
   height: 20px;
}
/* tag cloud */
#sidebar .tagcloud {
   margin: 18px 0 18px -12px;
   padding: 0;
}
#sidebar .tagcloud a {
   font: bold 12px/24px notosans-regular , sans-serif !important;
   display: inline-block;
   float: left;
   margin: 0 0 12px 12px;
   padding: 6px 10px;
   position: relative;
   text-transform: uppercase;
   background: #D3D9D9;
	text-decoration: none;
   letter-spacing: 1px;
   color: #6D7E7E;

   -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

   border-radius: 3px;
}
#sidebar .tagcloud a:hover {
    color: #fff;
    background: #11ABB0;
}

/* Photostream */
#sidebar .photostream {
   list-style: none;
   margin: 18px 0 24px -15px;
   padding: 0;
   overflow: hidden;
}
#sidebar .photostream li {
   float: left;
   display: inline-block;
   margin: 0 0 15px 15px;
   padding: 0;
}
#sidebar .photostream li a { }
#sidebar .photostream li a img {
   border-radius: 3px;
   height: 54px;
   width: 54px;
   vertical-align: bottom;
}

/* search */
#sidebar .widget_search form {
   /*position: relative; */
   margin: 24px 0 36px 0;
}
#sidebar .widget .text-search {
	padding-right: 40px;
	border:none;
   width: 100%;
   min-width: 150px;

   border-radius: 3px;
}
#sidebar .widget .submit-search {
	background:url(../images/search-icon.png) no-repeat;
	border:none;
	cursor:pointer;
	width:18px;
	height:18px;
   margin: 0;
   padding: 0;

   float: right;
   position: relative;
   top: -60px;
   right: 18px;
   /*display: none !important;*/
}

#primary { }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   height: 96px;
   width: 100%;
   background: #383232 url(../images/header-bg.jpg);
}

/* header logo */
header .logo {
   position: absolute;
   left: 20px;
   top: 48px;
}
header .logo h3 {
   color:#11ABB0;
}
header .logo a {
   display: block;
   margin: 0;
	padding: 0;
	border: none;
	outline: none;
   width: 220px;
   height: 24px;
   color: #fff;
}
header .logo a i{
   color: #c0c0c0;
   font-size: 45px;
}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* nav-wrap */
#nav-wrap {
	position: relative;
   font: 14px raleway-bold, sans-serif;
   float: right;
   margin-top: 36px;
   margin-right: 20px;
   z-index: 99999;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
   display: none;
   border-radius: 3px;
}

ul#nav {
   min-height: 48px;
   width: auto;

   /* left align the menu */
   text-align: left;
}
ul#nav li {
	position: relative;
	list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 11px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #8a8383;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li:hover > a,
ul#nav li.current a { color: #fff; }

/* adds down arrow */
ul#nav span:after {
   width: 0;
	height: 0px;
	border: 4px solid transparent;
	border-bottom: none;
	border-top-color: #8a8383;
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: 5px;
}

/* Sub Menu
----------------------------------------------------- */
ul#nav ul {
   position: absolute;
   top: 100%;
   left: 0;
	background: #1f2024;
   min-width: 100%;

	border-radius: 0 0 3px 3px;

   /* for transition effects */
   opacity: 0;
   filter: alpha(opacity=0);

	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}

/* Third level sub menu
ul#nav ul ul {
	position: absolute;
	top: 0;
	left: 100%;

	border-radius: 0 3px 3px 3px;
}
*/

ul#nav ul li {
   padding: 0;
   display: block;
   text-align: left;

   /* for transition effects */
   height: 0;
	overflow: hidden;

  	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

/*On Hover */
ul#nav li:hover > ul { opacity: 1; filter: alpha(opacity=100); }
ul#nav li:hover > ul li {
	height: 42px;
	overflow: visible;
   border-bottom: 1px solid #26272C;
}
ul#nav li:hover > ul li:last-child  { border: none; }

/* Sub Menu Anchor links */
ul#nav ul li a {
	padding: 6px 15px;
	margin: 0;
   white-space: nowrap;
   font-size: 13px;
}


/* ------------------------------------------------------------------ */
/* c. Intro Section - Main Page
/* ------------------------------------------------------------------ */

#intro { background: #383232 url(../images/header-bg.jpg); }

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }


/* FlexSlider Intro Slider Styles */
.slides {
   overflow: hidden;
   position: relative;
}
.slider-text {
	color: #b4a9a9;
   width: 90%;
   text-align: center;
   margin: 60px auto 36px auto;
}
.slider-text h1 {
   font: 50px/60px raleway-bold, sans-serif;
   color: #fff;
   padding: 0;
   margin: 0 0 18px 0;
   text-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
}
.slider-text h1 span,
.slider-text a { color: #11ABB0; }
.slider-text p {
   font: 17px/36px notosans-regular, sans-serif;
   padding: 0;
   margin: 12px 8% 0;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .3);
}
.slider-image {
   width: 90%;
   margin: 0 auto;
}
.slides li img {
   vertical-align: bottom;
   display: block;
}

/* Direction Navigation
--------------------------------------------------------------- */
.flex-direction-nav a {
   display: block;
	width: 40px;
	height: 66px;
	margin: -33px 0 0 0;
	background-color: #1f2024;
	cursor: pointer;
	z-index: 99999;
	opacity: 0;
   position: absolute;
	top: 50%;

   /* hide text */
   font: 0/0 a;
   text-shadow: none;
   color: transparent;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.flex-direction-nav a:hover { background-color: #0F9095; }

.flex-direction-nav .flex-next {
	right: 0px;
	background: #1f2024 url(../images/direction-nav-right.png) no-repeat 47% 50%;
	position: absolute;

	border-radius: 3px 0 0 3px;
}
.flex-direction-nav .flex-prev {
	left: 0px;
	background: #1f2024 url(../images/direction-nav-left.png) no-repeat 53% 50%;
	position: absolute;

	border-radius: 0 3px 3px 0;
}
.flexslider:hover .flex-next,
.flexslider:hover .flex-prev { opacity: 1; }
.flex-direction-nav .flex-disabled {
   opacity: .3 !important;
   filter: alpha(opacity=30);
   cursor: default;
}


/* ------------------------------------------------------------------ */
/* d. Info Section - Main Page
/* ------------------------------------------------------------------ */

#info {
   background: #fff url(../images/content-bg.jpg);
   padding-top: 60px;
   padding-bottom: 42px;
}
#info h2 {
  font: 18px/30px notosans-bold, sans-serif;
  color: #11ABB0;
  margin-bottom: 6px;
}
#info p {
  font-size: 15px;
  line-height: 30px
}

/* ------------------------------------------------------------------ */
/* e. Works Section - Main Page
/* ------------------------------------------------------------------ */

#works {
   background: #f5f5f5 url(../images/works-bg.jpg);
   padding-top: 48px;
   padding-bottom: 36px;
   border-top: 1px solid #E3E8E8;
   border-bottom: 1px solid #E3E8E8;
}
#works h1 {
   font: 20px/36px raleway-bold, sans-serif;
   margin-bottom: 36px;
   color: #A1A8AF;
}

/* Portfolio Content */
#portfolio-wrapper { margin-top: 36px; }
#portfolio-wrapper .columns { margin-bottom: 36px; }

.portfolio-item .item-wrap {
   background: #fff;
   overflow: hidden;
   border-radius: 3px;

   -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.1);
   -moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.1);
   box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.1);

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.portfolio-item .item-wrap a {
   position: relative;
   display: block;
}

/* overlay */
.portfolio-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   border-radius: 3px 3px 0 0;
   background: url(../images/overlay.png) repeat;
}
.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   font-size: 40px;
   line-height: 40px;
   text-align: center;

   opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -18.5px;
   margin-top: -20px;
}

.portfolio-item .item-wrap img {
   vertical-align: bottom;
   border-radius: 3px 3px 0 0;
}

.portfolio-item .portfolio-item-meta { padding: 18px 0; }
.portfolio-item .portfolio-item-meta h5 a {
   font: 14px/18px notosans-bold, sans-serif;
   color: #11ABB0;
   margin-left: 7%;
}
.portfolio-item .portfolio-item-meta p {
   font: 12px/18px notosans-regular, sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
   margin-left: 7%;
}

/* on hover */
.portfolio-item:hover .item-wrap { background-color: #3A3434; }
.portfolio-item:hover h5 a { color: #fff !important; }
.portfolio-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
.portfolio-item:hover .link-icon {
   opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}


/* ------------------------------------------------------------------ */
/* f. Journal Section - Main Page
/* ------------------------------------------------------------------ */

#journal {
   background: #fff url(../images/content-bg.jpg);
   padding-top: 60px;
   padding-bottom: 48px;
}
#journal a, #journal a:visited  { color: #11ABB0; }
#journal a:hover, #journal a:focus { color: #313131; }

#journal h1 {
   font: 20px/36px raleway-bold, sans-serif;
   margin-bottom: 36px;
   color: #A1A8AF;
}
#journal .blog-entries { margin-top: 0; }
#journal .entry {
   margin-bottom: 12px;
   border-top: 1px dotted #d8d8d8;
   padding-top: 36px;
}
#journal .blog-entries article.entry:first-child {
   border-top: none;
   padding-top: 18px;
}

/* post header */
#journal .blog-entries .entry-header {
   position: relative;
   margin-bottom: 6px;
}
#journal .entry-header .entry-title { padding-right: 16.66667%; }
#journal .entry-header h3 { font: 31px/42px raleway-bold, sans-serif; }
#journal .entry-header .permalink {
   position: absolute;
   top: 18px;
   right: 60px;
   z-index: 999999;
}
#journal .entry-header .permalink a {
   color: #fff;
   display: block;
   text-align: center;
   background-color: #9199A1;
   width: 48px;
   height: 48px;
   margin: 0;
   padding: 0;

	border-radius: 100%;

   -webkit-transition:all .3s ease-in-out;
   -moz-transition:all .3s ease-in-out;
   -o-transition:all .3s ease-in-out;
   transition:all .3s ease-in-out;
}
#journal .entry-header .permalink a:hover {
   background-color: #11ABB0;
}
#journal .entry-header .permalink a i {
   font-size: 24px;
   line-height: 48px;
}

/* post meta */
#journal .entry .post-meta   {
   font: 15px/21px notosans-regular, sans-serif;
   margin-top: 12px;
   margin-bottom: 0;
   text-align: right;
}
#journal .entry .post-meta time,
#journal .entry .post-meta .dauthor {
   display: block;
}
#journal .entry .post-meta time {
   font-family: notosans-bold, sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #878282;
   margin-bottom: 6px;
}

/* post content */
#journal .entry .post-content {  padding-right: 16.66667%; }
#journal .entry .post-content p {
   font: 16px/30px notosans-regular, sans-serif;
}
#journal .entry .post-content a.more-link {
   font: 16px/30px notosans-bold, sans-serif;
   margin-left: 3px;
}
#journal .entry .post-content a.more-link i {
   margin-left: 10px;
   font-size: 14px;
}

/* ------------------------------------------------------------------ */
/* g. Call To Action Section
/* ------------------------------------------------------------------ */

#call-to-action {
   background: #544A4A;
   padding-top: 66px;
   padding-bottom: 48px;
}
#call-to-action .action {
   margin-top: 12px;
}
#call-to-action h1 {
   font: 34px/42px raleway-bold, sans-serif;
   color: #E4E2E2;
   margin-bottom: 3px;
}
#call-to-action h1 a {
   color: inherit;
}
#call-to-action p {
   color: #9D9595;
   font-size: 17px;
}
#call-to-action .button:hover,
#call-to-action .button:active {
   background: #E4E2E2;
   color: #544A4A;
}
#call-to-action p span {
	font-family: 'notosans-bold', sans-serif; 
	color: #DDD9D9;
}

/* ------------------------------------------------------------------ */
/* h. Tweets Section - Main Page
/* ------------------------------------------------------------------ */

#tweets {
   background: #f5f5f5 url(../images/tweets-bg.jpg);
   padding-top: 60px;
   padding-bottom: 30px;
   border-top: 1px solid #E3E8E8;
   border-bottom: 1px solid #C1CDCD;
}
.tweeter-icon { font-size: 54px; }

/* Twitter Feed */
#tweets #twitter {
   margin: 24px auto;
   padding: 0;
   width: 90%;
}
#tweets #twitter li {
   margin: 6px 0px 18px 0;
   line-height: 24px;
}
#tweets #twitter li span {
   display: block;
   font: 24px/48px raleway-semibold, Sans-serif;
   margin-bottom: 12px;
   color: #99A0A8;
}
#tweets #twitter li b a {
   font: 18px/36px notosans-regular, Sans-serif;
   color: #A4ABB2;
   border: none;
}
#tweets .button {
   padding: 6px 24px;
}

/* ------------------------------------------------------------------ */
/* i. Blog
/* ------------------------------------------------------------------ */

.post {
   padding-top: 24px;
   padding-bottom: 18px;
}
.post .entry-header {
   position: relative;
   width: 100%;
}
.post .entry-header h1 {
   font: 39px/48px raleway-semibold, sans-serif;
   margin-bottom: 18px;
}
.post .entry-header h1 a,
.post .entry-header h1 a:visited { color: #313131; }
.post .entry-header h1 a:hover,
.post .entry-header h1 a:focus { color: #11ABB0; }

.post .post-meta {
   font: 15px/24px notosans-regular, sans-serif;
}
.post .post-meta a,
.post .post-meta a:visited { color: #AFB4BB; }
.post .post-meta a:hover,
.post .post-meta a:focus { color: #11ABB0; }

.post .post-meta .date {
   display: inline-block;
   font: 15px/24px notosans-bold, sans-serif;
   color: #313131;
}
.post .post-meta .categories {
   display: inline-block;
}
.post .post-meta .categories a { display: inline-block; }


/* post image */
.post .post-thumb {
   margin: 6px 0 18px 0;
   width: 100%;
}

/* post content */
.post .post-content {
   margin-bottom: 18px;
}

/* tags */
.post .post-content .tags {
  margin-top: 18px;
  font-family: notosans-regular, sans-serif;
}
.post .post-content .tags a { font-family: notosans-bold, sans-serif; }

/* bio */
.post .bio {
   margin-top: 30px;
   padding-top: 30px;
   padding: 36px;
   background: #EFF1F0;

	border-radius: 3px;
}
.post .bio .gravatar {
   width: 16.66667%;
   float: left;
   width: 72px;
   height: 72px;
}
.post .bio .gravatar img {
   margin-top: 12px;
	border-radius: 100%;
}
.post .bio .about {
   width: 78%;
   float: right;
}
.post .bio .about h5 {
   font: 18px/30px notosans-bold, sans-serif;
   margin-bottom: 6px;
}

/* post-nav */
.post-nav {
   margin: 24px 0;
   padding: 30px 0 0 0;
   border-top: 1px solid #E0E0E0;
   font: 16px/30px notosans-regular, sans-serif;
}
.post-nav li {
   display: inline-block;
   margin: 0;
   padding: 0;
   width: 49%;
   line-height: 30px;
}
.post-nav li a { color: #9FA5AD;  }
.post-nav li a:hover { color: #313131; }
.post-nav li strong {
   font: 16px/30px raleway-heavy, sans-serif;
   text-transform: uppercase;
   color: #11ABB0;
   letter-spacing: 0.5px;
   display: block;
}
.post-nav li.next {
   float: right;
   text-align: right;
}
.post-nav li.prev {
   float: left;
   text-align: left;
}

/* Comments
/* ------------------------------------------------------------------ */
#comments {
   padding-top: 12px;
   padding-bottom: 12px;
}
#comments h3 {
   font: 20px/30px notosans-bold, sans-serif;
   margin-bottom: 6px;
}

/* Comments List */
ol.commentlist {
   border-top: 1px dotted #E1E5E3;
	margin: 29px 0 54px 0;
	padding: 0;
   margin-left: 16.66667%;
}
.commentlist > li {
   position: relative;
	list-style: none;
	margin: 0;
	padding: 18px 0 17px 0;
	border-bottom: 1px dotted #D9DEDB;
}
.commentlist  li .avatar {
   position: absolute;
   left: -50px;
   display: block;

   height: 50px;
   width: 50px;
}
.commentlist li .avatar img {
   margin-top: 6px;
   height: 50px;
   width: 50px;

  	border-radius: 100% 100% 100% 100%;
}
.commentlist li .comment-info cite {
   font: 16px/30px notosans-bold, sans-serif;
   color: #454545;
}
.commentlist li .comment-info .comment-meta {
   font-size: 14px;
   line-height: 24px;
   display: block;
}
.commentlist li .comment-info .comment-meta .reply {
   font-family: notosans-bold, sans-serif;
}
.commentlist li .comment-info .comment-meta .sep {
   margin: 0 5px;
   color: #AEB6B7;
}
.commentlist li .comment-text {
	clear: both;
	margin: 24px 0 0 0;
   padding: 0;
   line-height: 24px;
}

/* children */
.commentlist li ul.children {
   margin: 0;
   padding: 18px 0 0 0;
}
.commentlist li ul.children li {
   padding-left:  5% ;
   padding-top: 17px;
   border-top: 1px dotted #D9DEDB;
}


/* comment form */
#comments form {
   margin-top: 36px;
}
#comments form label {
   font: 16px/24px notosans-bold, sans-serif;
	margin: 12px 0;
   padding-left: 24px;
   width: 41.66667%;
   float: right;
}
#comments form div {
   margin: 12px 0 18px 0;
}
#comments form input,
#comments form textarea,
#comments form select {
   width: 58.33333%;
   float: left;
}
#comments form .message label {
   display: none;
}
#comments form textarea {
   width: 100%;
}
#comments form button.submit {
	text-transform: uppercase;
	letter-spacing: 2px;
   display: block;
   margin-top: 12px;
}
#comments form span.required {
	color: #11ABB0;
	font-size: 13px;
}

/* Pagination  */
.pagination { margin: 0 auto 42px auto; }

/* ------------------------------------------------------------------ */
/* j. Porfolio
/* ------------------------------------------------------------------ */

.portfolio section {
   padding-top: 24px;
   padding-bottom: 30px;
}
.portfolio .entry-media img {
   margin-bottom: 24px;
}
.portfolio .entry-details {
   font-size: 15px;
   margin-bottom: 24px;
   padding-right: 30px;
}
.portfolio .entry-excerpt {
   font: 20px/36px raleway-regular, sans-serif;
   color: #9FA5AD;
}
.portfolio .entry-details h1 {
   font: 30px/42px raleway-semibold, sans-serif;
   margin-bottom: 18px;
}
.portfolio .portfolio-meta-list li {
   line-height: 30px;
   margin-bottom: 12px;
}
.portfolio .portfolio-meta-list li span {
   font-family: notosans-bold, sans-serif;
   display: block;
   color: #313131;
}
.portfolio .post-nav {
   margin-left: 18px;
   margin-right: 18px;
}

.portfolio #portfolio-wrapper {
   margin-top: 6px;
}

/* ------------------------------------------------------------------ */
/* k. About
/* ------------------------------------------------------------------ */

/* Team Members */
#team-wrapper { }

#team-wrapper .member {
   margin-bottom: 24px;
   margin-top: 12px;
}
#team-wrapper img {
	margin-bottom: 12px;
}
#team-wrapper h5 {
   font: 16px/24px notosans-bold, sans-serif;
}
#team-wrapper span {
   position: relative;
   top: -6px;
   font-size: 13px;
   line-height: 18px;
   color: #969696;
}
#team-wrapper .member-social {
   font-size: 20px;
   font-weight: normal;
   line-height: 18px;
   color: #969696;
   margin: -12px 0 0 0;
   padding: 0;
}
#team-wrapper .member-social li {
   display: inline-block;
   margin-right: 15px;
}
#team-wrapper .member-social li a { color: #424242; }
#team-wrapper .member-social li a:hover { color: #11ABB0; }

/* ------------------------------------------------------------------ */
/* l. Contact
/* ------------------------------------------------------------------ */

/* contact form */
#contact-form form { margin-bottom: 30px; }
#contact-form div {
   float: left;
   width: 100%;
}
#contact-form .half { width: 47%; }
#contact-form label {
	display: inline-block;
	float: left;
}
#contact-form input,
#contact-form textarea,
#contact-form select {
  	width: 100% !important;
   min-width: none;
   margin-bottom: 12px;
}
#contact-form button.submit {
   text-transform: uppercase;
 	letter-spacing: 2px;
   margin-top: 24px;
}
#contact-form span.required {
	color: #11ABB0;
}

#message-warning,
#message-success {
   display: none;
	background: #383232;
	padding: 24px 24px;
	margin-bottom: 36px;

 	border-radius: 3px;
}
#message-warning { color: #DD4646; }
#message-success { color: #11ABB0; }

#message-warning i,
#message-success i {
   margin-right: 10px;
}

#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 12px;
}

/* ------------------------------------------------------------------ */
/* m. footer
/* ------------------------------------------------------------------ */

footer {
   margin-top: 66px;
   margin-bottom: 84px;
   font-size: 14px;
}
footer a, footer a:visited { color: #6A747C; }
footer a:hover { color: #11ABB0; }

/* footer nav */
footer .footer-nav {
   font: 18px/36px raleway-bold, sans-serif;
   margin: 0;
   padding: 0 0 24px 0;
   text-align: center;
   border-bottom: 1px solid #c4caca;
}
footer .footer-nav li {
   display: inline;
   margin-right: 20px;
   margin-left: 20px;
}
footer .footer-nav a { color: #7B858E; }
footer .footer-nav a:hover { color: #313131; }

/* social links */
footer .footer-social {
   margin: 36px 0 24px 0;
   padding: 0;
   font-size: 30px;
   text-align: center;
}
footer .footer-social li {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-left: 24px;
   margin-right: 24px;
}
footer .footer-social li a { color: #7B858E; }
footer .footer-social li a:hover { color: #313131; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 12px 0 0 0;
    text-align: center;
    font-size: 15px;
    font: 14px/30px notosans-regular, sans-serif;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}

footer .copyright li:before {
    content: "|";
    padding-left: 10px;
    padding-right: 12px;
    color: #B4BBBB;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* Go To Top Button */
#go-top {
	position: fixed;
	bottom: 0px;
   right: 25px;
   display: none;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 40px;
	background: url(../images/go-to-top.png) no-repeat 50% 50%;
	background-color: #1f2024;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

 	border-radius: 3px 3px 0 0;

   font: 0/0 a;
   text-shadow: none;
   color: transparent;
}
#go-top a:hover { background-color: #0F9095; }

.mindwork_logo{
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3e%3cpath style='fill:none; stroke:none;' d='M0 0L0 225L77 225L77 192L41 192L41 146C31.9283 144.828 22.7986 142.478 14 140C19.2523 131.094 24.1709 121.989 29.2809 113C32.0952 108.049 36.2308 102.578 37.5818 97C38.4819 93.284 37.3994 89.7048 37.2091 86C37.01 82.1246 37.7565 77.8657 38.1698 74C38.8927 67.238 41.3532 65.0786 48 65C47.7204 56.5623 39.0786 51.7835 36.0687 44C28.9818 25.6736 41.4847 3.92509 61 1C55.2927 -1.39487 47.154 0 41 0L0 0z'/%3e%3cpath style='fill:%23060606; stroke:none;' d='M48 65C42.7694 65.0185 39.4818 65.1825 38.4437 71.0046C37.6124 75.6665 36.8963 81.2732 37.1042 86C37.2684 89.7334 38.4835 93.3 37.3002 97C32.4227 112.25 20.1907 125.209 14 140C22.2985 143.131 32.1552 145.296 41 146L41 192L77 192L77 225L164 225L164 192C164 187.24 162.819 180.574 164.603 176.09C165.91 172.806 169.437 170.902 172 168.7C175.769 165.461 179.235 161.84 182.384 158C193.598 144.325 201.065 127.621 203.05 110C204.211 99.6937 204.12 89.377 203.996 79C203.954 75.4998 204.149 69.4837 201.825 66.6034C200.249 64.6496 197.223 65.0265 195 65C199.073 57.3594 202.13 49.0189 205.397 41C207.237 36.4837 209.825 31.8293 210.671 27C212.124 18.7121 211 9.40443 211 1C204.235 4.36928 195.349 10.1789 190.649 16.1736C184.994 23.3862 182.166 34.5932 178.579 43C175.559 50.077 171.35 57.4025 170 65C165.219 65 157.452 66.4735 153.213 63.9722C149.157 61.5795 147.425 55.1854 146 51C148.707 50.9438 151.383 50.8461 154 50.0571C166.441 46.3063 164 32.1414 164 22L171 22L171 0L150 0L150 22L157 22C157 26.8974 158.093 33.3624 156.258 37.9815C154.455 42.518 147.772 45.7321 143.275 42.9715C138.07 39.777 135.126 28.4803 133 23C136.94 21.8647 140.705 20.5042 143 17C130.73 13.4925 119.617 5.17241 107 3C105.065 12.352 100.831 21.4743 100 31C96.0054 21.5972 94.7336 13.222 85.9992 6.53241C68.0193 -7.23833 40.8037 2.27751 34.9275 24C32.5154 32.9167 34.0337 43.2899 39.108 51C42.3941 55.993 47.5156 58.7065 48 65z'/%3e%3cpath style='fill:none; stroke:none;' d='M72 0C75.5307 1.98389 79.5481 2.93098 83 5.13271C92.4987 11.1913 96.9239 20.3309 99 31C103.233 23.2108 105.817 11.778 107 3C119.316 6.36861 130.435 14.7671 143 17C140.149 19.881 136.725 21.4484 133 23C134.584 28.7914 137.413 38.1382 141.815 42.3966C145.357 45.8235 153.515 43.8737 155.821 39.8665C158.493 35.2231 157 27.1938 157 22L150 22L150 0L72 0M171 0L171 22L164 22C164 32.6013 165.875 46.1668 153.002 50.0571C150.704 50.7514 148.377 50.8964 146 51C146.979 55.1231 148.568 61.534 152.39 63.9722C156.59 66.6515 165.166 65 170 65C173.126 54.0662 178.775 43.4434 183.281 33C185.633 27.5493 187.459 20.7043 191.394 16.1736C196.599 10.1797 204.575 5.61549 211 1C211 9.29466 212.329 18.891 210.471 27C207.501 39.9595 199.81 52.603 195 65C202.547 65.2471 203.443 70.2115 203.91 77C204.662 87.9119 204.184 99.1667 202.95 110C200.944 127.616 192.92 144.519 181.561 158C178.343 161.82 174.782 165.435 171.001 168.7C168.768 170.628 165.777 172.331 164.603 175.174C162.786 179.574 164 186.308 164 191L164 225L225 225L225 0L171 0M55 65L63 65C63 58.8289 64.279 51.0629 62.6821 45.0895C61.2313 39.6627 55.2593 37.4932 56.2438 31.0008C57.9668 19.6381 74.1872 20.193 76.5231 31C77.7736 36.785 72.4277 39.5117 70.5995 44.1698C68.3419 49.9219 70 58.8641 70 65L77 65C77.0303 56.4209 81.1702 55.0906 86.0725 48.9066C90.0304 43.9141 92.343 37.398 91.9028 31C90.1293 5.22227 54.0646 -1.54031 43.189 22C39.5307 29.9186 40.2984 39.7664 45.108 46.9961C47.5111 50.6083 51.8158 52.7091 53.9722 56.3248C55.4549 58.8108 54.9979 62.2276 55 65M157 7L157 15L164 15L164 7L157 7M112 12C110.776 16.3124 109.39 20.5219 109 25C110.797 25 110.521 24.9857 112 24C113.169 28.9206 116.527 41.0827 121.394 43.3966C124.798 45.0152 130.302 44 134 44C131.638 35.8014 127.298 27.3636 123 20C124.797 20 124.521 19.9857 126 19C122.145 15.5196 116.812 13.8671 112 12M203 15L200 17C201.458 18.0811 202.248 18.4361 204 19C203.826 17.3148 203.683 16.506 203 15M195 23C188.517 36.6974 182.481 50.8718 177 65C179.991 65 184.754 65.8618 187.301 63.9722C190.001 61.9698 191.008 56.9609 192.281 54C196.06 45.2095 200.474 36.2367 203 27C200.392 25.478 197.787 24.1606 195 23M65.2994 29.8904C61.5711 31.0883 64.0523 36.821 67.6968 35.338C71.1457 33.9344 68.6008 28.8298 65.2994 29.8904M84 65L99 65C99.0066 55.0448 101.54 47.1069 112 44C111.336 40.2762 109.895 37.2623 108 34C105.125 35.1972 101.753 36.3849 99.51 38.6373C96.0577 42.1043 94.8768 47.9772 91.841 51.9606C88.3938 56.4841 84.4528 58.9972 84 65M106 65L122 65C120.915 61.2339 119.068 54.2524 115.582 52.0324C107.395 46.8197 106.003 60.4125 106 65M124 51C125.101 54.8223 126.932 61.6669 130.418 63.9722C133.781 66.1959 140.131 65 144 65C142.441 61.1995 140.848 54.4735 137.362 52.0278C134.153 49.7767 127.746 51 124 51M25 136C30.5916 136.753 42.3079 137.564 46.3966 141.728C49.112 144.493 48 150.476 48 154L48 185L84 185L84 218L157 218L157 187C157 182.596 155.875 176.312 157.603 172.184C159.159 168.471 164.037 166.059 167 163.561C172.349 159.052 176.967 153.737 180.961 148C196.51 125.66 199.341 98.4389 196 72L86 72L58 72C54.8785 72 49.2214 70.9543 46.6034 73.0278C44.6394 74.5833 45.016 77.7909 45.0008 80C44.963 85.474 45.8365 91.6057 44.9267 97C44.2676 100.908 41.5752 104.576 39.6944 108C34.7472 117.007 27.8622 126.084 25 136z'/%3e%3cpath style='fill:%23060606; stroke:none;' d='M56 84C56.5305 106.563 90.4695 106.563 91 84L84 84C82.0003 96.9509 65.5019 96.3917 63 84L56 84z'/%3e%3c/svg%3e");
}